@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==");
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-weight: 300;
}

.permalink {
  position: absolute;
  right: 100%;
  display: none;
  padding: 5px 10px 2px 10px;
  top: -5px;
  background: #444;
  border-radius: 5px;
}

h1:hover .permalink, 
h2:hover .permalink, 
h3:hover .permalink, 
h4:hover .permalink, 
h5:hover .permalink, 
h6:hover .permalink {
  display: inline-block;
}

body {
  font-size: 12pt;
  line-height: 1.5em;
  color: #EEE;
}

p {
  margin-top: 0;
}

a {
  color: #64B5F6;
}
a:hover {
  color: #42A5F5;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #CFCFCF;
  background: #444;
}

.heading,
.subheading {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.heading {
  line-height: 40pt;
}

header h1 {
  width: 600px;
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 35pt;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header.subheading {
  font-size: 14pt;
}

#content-wrapper {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(100,100,100,0.3);
}

#main-content {
  float: left;
  width: 700px;
}

#main-content section h2 {
  padding-left: 10px;
  margin-left: -10px;
}

#main-content section h3 {
  padding-left: 10px;
}

#main-content section p {
  padding-left: 20px;
}

#main-content img {
  max-width: 100%;
}

#sidebar {
  float: right;
  width: 200px;
  min-height: 504px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.3;
}

#sidebar p.repo-owner,
#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
#sidebar a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #222;
}

code {
  color: #fff;
  background-color: #444;
  padding: 0 3px;
}

pre {
  color: #fff;
  background-color: #444;
  padding: 10px;
  overflow: auto;
}
pre code {
  padding: 0;
  color: #fff;
  background-color: #444;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: solid 1px #888;
}


/* GENERAL ELEMENT TYPE STYLES */

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #content-wrapper,
  .heading,
  .subheading {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #content-wrapper,
  .heading,
  .subheading {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  .subheading,
  .heading {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header .subheading {
    font-size: 24px;
  }
  header a.button {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button small {
    display: inline;
    font-size: 13px;
  }
  #main-content,
  #sidebar {
    float: none;
    width: 100% ! important;
  }
  #sidebar {
    min-height: 0;
    padding: 20px 0;
    margin-top: 20px;
    background-image: none;
    border-top: solid 1px #ddd;
  }
  #sidebar a.button {
    display: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }

